{
  "bark_url": "",
  "bark_key": "",
  "wecom_webhook_key": "",
  "wecom_webhook_url": "",
  "wecom_corp_id": "",
  "wecom_agent_id": "",
  "wecom_secret": "",
  "pushover_token": "",
  "pushover_user": "",
  "pushdeer_token": "",
  "chanify_endpoint": "",
  "chanify_token": "",
  "email_host": "",
  "email_port": "",
  "email_user": "",
  "email_password": "",
  "email_sender": "",
  "email_to": "",
  "email_starttls": "",
  "key": ""
}